mixin list(content, concac)
    ul 
        li= content 
        li= concac 
        li= content 
        li= content

mixin alo() {
    form(action="POST")
        h1 hello 
        input(type="text")
        button(type="submit") 
}


mixin alo() {
    form(action="POST")
        h1 hello 
        input(type="text")
        button(type="submit") 
}



mixin alo() {
    form(action="POST")
        h1 hello 
        input(type="text")
        button(type="submit") 
}




mixin alo() {
    form(action="POST")
        h1 hello 
        input(type="text")
        button(type="submit") 
}




mixin alo() {
    form(action="POST")
        h1 hello 
        input(type="text")
        button(type="submit") 
}




mixin alo() {
    form(action="POST")
        h1 hello 
        input(type="text")
        button(type="submit") 
}





mixin alo() {
    form(action="POST")
        h1 hello 
        input(type="text")
        button(type="submit") 
}




mixin alo() {
    form(action="POST")
        h1 hello 
        input(type="text")
        button(type="submit") 
}



mixin alo() {
    form(action="POST")
        h1 hello 
        input(type="text")
        button(type="submit") 
}
