include components 
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Vu Duy Nhien is learning about pug 
    body
    h1.vuduynhien Hello minh la vu duy nhien 
    ul 
        li xin chao
        li xin chao
        li xin chao

    +list('xin chao ban', 'iu hong')
